// .nav {

//     @include mq(mob-only) {
//         display: none;
//     }


// }

.nav__link--current {
    color: currentColor;
}

.nav__list {
    display: flex;
    margin-left: 92px;


    & .nav__item:not(:last-child) {
        margin-right: 50px;

    }

    & .nav__link:hover,
    & .nav__link:focus {
        color: var(--accent-color);

    }

    & .nav__link {
        display: block;
        padding-top: 32px;
        padding-bottom: 32px;

        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        text-decoration: none;
        color: var(--title-text-color);
        transition: color var(--transition);

        &.nav__link--current {
            color: var(--accent-color);
            position: relative;



        }

        &.nav__link--current::after {
            position: absolute;
            content: "";
            display: block;
            width: 100%;
            height: 4px;
            background-color: var(--accent-color);
            bottom: -3px;
            border-radius: 2px;

        }
    }

}





.contacts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.contacts {

    // @include mq(mob-only) {
    //     display: none;
    // }

    // @include mq(tab-only) {
    //     display: block;
    // }  

    
    &__item {
        &:not(:last-child) {

            // @include mq(tab-only) {
            //     margin-bottom: 10px;
            // }

            // @include mq(desk) {
            //     margin-right: 50px;
            // }
        }

    }

    &__link__top {
        // display: flex;
        align-items: center;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        text-decoration: none;
        color: var(--primery-text-color);
        transition: color var(--transition);

        &:hover,
        &:focus {
            color: var(--link-top-color);

        }

        // @include mq(desk) {
        //     font-size: 14px;
        // }
    }

}

.contacts__icon {
    margin-right: 10px;   
    fill: var(--icon-fill);

}

.contacts__icon {
    margin-right: 10px;
    fill: currentColor;
}

.icon {
    fill: var(--icon-fill);
    transition: fill var(--transition);

    &:hover,
    &:focus {
        fill: var(--primery-white-color)
    }

}

.nav__container {
    display: grid;
    width: 100%;
    grid-template-columns: 100px 2fr 1fr;
    align-items: center;

}


.nav__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 40px;

}